*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  outline: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}